.wrapperDiagram {
    width: 280px;
    margin: 0 auto;
    overflow: hidden;
}

.count {
    display: flex;
    margin-bottom: 40px;
    height: 85px;
    background: #FFFFFF;
    box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
    border-radius: 20px;
}

.expenditure {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
}

.expenditure:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 0px;
    height: 70.5px;
    border: 1px solid #E0E5EB;
}

.income {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
}

.expenditureTitle {
    font-family: Roboto;
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #52555F;
}

.incomeTitle {
    font-family: Roboto;
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #52555F;
}

.expenditureCount {
    font-family: Roboto;
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #E53935;
}

.incomeCount {
    font-family: Roboto;
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #407946;
}

.switch {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
}

.wrapperListCategory {
    margin-bottom: 34px;
}

.switchTitle {
    margin-right: 15px;
    margin-left: 15px;
}

.switchArrowRight,
.switchArrowLeft {
    width: 6px;
    height: 15px;
}


.listCategory {
    display: flex;
    justify-content: center;
    margin: 0 -7px;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
}

.itemCategory {
    position: relative;
    margin: 0 7px;
    margin-bottom: 20px;
    width: 84px;
}

.itemCategory:nth-child(3n+1):before {
    content: '';
    position: absolute;
    display: block;
    top: 137px;
    left: -200%;
    height: 1px;
    width: 1282px;
    border-bottom: 1px solid #E0E5EB;
}


.categoryImg {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 56px;
}

.categorySvg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 84px;
    height: 56px;
}

.shadowCategory {
    width: 59px;
    height: 46px;
    background: #F5F6FB;
    border-radius: 20px;
}

.itemCategory:hover .shadowCategory,
.itemCategory:focus .shadowCategory {
    background: #FFDAC0;
}

.itemCategory:hover .categorySvg,
.itemCategory:focus .categorySvg {
    fill: #FF751D;
}

.categoryTotal {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 14.06px;
    text-align: center;
    color: #52555F;
}

.categoryName {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 14.06px;
    text-align: center;
    text-transform: uppercase;
    color: #52555F;
}

.diagramList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.diagramSubCategory {
    position: relative;
    height: 15px;
    background: #FED9BF;
    border-radius: 0px 10px 10px 0px;
}

@media screen and (max-width: 767px){
    .itemCategory:nth-child(n+4) {
        margin-top: 20px;
    }

    .nameSubCategory{
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-100%);
    }

    .diagramItem:not(:last-child){
        margin-bottom: 35px;
    }
}

.priceSubCategory{
    position: absolute;
    top: 0;
    right: -12px;
    transform: translateY(-100%);
}





.diagramItem {
    position: relative;
    font-family: Roboto;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #52555F;
}



.diagramItem:nth-child(3n+1) .diagramSubCategory {
    background: #FF751D;
}


@media screen and (min-width: 768px) {
    .wrapperDiagram {
        width: 666px;
    }

    .count {
        height: 50px;
        box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
        border-radius: 30px;
    }

    .expenditure:after {
        height: 36px;
    }

    .expenditure {
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 21px;
    }

    .income {
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 19px;
    }

    .expenditureTitle, .incomeTitle {
        padding-right: 15px;
    }

    .wrapperListCategory {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 30px;
        background: #FFFFFF;
        box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
        border-radius: 30px;
        margin-bottom: 30px;
    }

    .listCategory{
        width: 624px;
        margin-left: -10px;
        margin-right: -10px;
    }

    .itemCategory{
        margin-left:10px;
        margin-right: 10px;
    }

    .itemCategory:nth-child(n+7) {
        margin-top: 20px;
        margin-bottom: 0;
    }

    .itemCategory:nth-child(3n+1):before {
        border: 0;
    }

    .wrapperDiagramList {
        height: 422px;
        padding-top: 20px;
        padding-bottom: 19px;
        padding-left: 32px;
        padding-right: 29px;
        background-image: url("../../assets/img/bgDiagramTablet.png");
        background-repeat: no-repeat;
        box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
        border-radius: 30px;
        background-position: bottom;
        background-position-y: 64px;
        background-position-x: center;
    }

    .diagramList {
        display: flex;
        align-items: flex-end;
        height: 100%;
        width: 500px;
    }



    .diagramItem{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        margin-bottom: 0px;
    }

    .diagramItem:not(:last-child) {
        margin-right: 25px;
    }

    .diagramSubCategory{
        border-radius: 10px 10px 0px 0px;
        margin-bottom: 5px;
    }

    .priceSubCategory{
        top: -10px;
        left: 0;
        transform: translateY(-100%);
    }
}

@media screen and (min-width: 1280px){
    .wrapperDiagram {
        width: 1060px;
    }

    .diagramList{
        width: 604px;
        margin: 0 auto;
    }

    .wrapperDiagramList {
        background-image: url("../../assets/img/bgDiagramDesc.png");
    }
}