.notShow {
  display: none;
}
.mainContainer {
  position: absolute;
}

.container {
  position: relative;
  width: 282px;
  height: 152px;
  left: 19px;
  top: 0;
  padding: 30px 25px;
  background: linear-gradient(117.84deg, #1d346a 2.84%, #031634 67.28%);
  border-radius: 30px;
}

.mainContainer::before {
  content: url("../../assets/img/triangle.png");
  width: 30px;
  height: 16px;
  position: relative;
  left: 88px;
  top: 20px;
}

.greeting {
  margin: 0 auto 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: #ffffff;
}
.description {
  composes: greeting;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.33;
}
@media screen and (min-width: 1280px) {
  .container {
    width: 292px;
    left: 546px;
    /* top: 158px; */
    padding-left: 30px;
    padding-right: 30px;
  }
  .mainContainer::before {
    left: 593px;
  }
}
