.container {
  position: relative;
}

.positionWrapper {
  width: 100%;
  position: absolute;
  top: 0px;
}

.calendarWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  margin-bottom: 62px;
}

.tableWrapper {
  min-height: calc(100vh - 400px);
  margin-bottom: 10px;
}

.btnWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.costBtn {
  min-width: 159px;
  height: 53px;
  background: #f5f6fb;
  margin-right: 2px;
}

.incomeBtn {
  min-width: 159px;
  height: 53px;
  background: #f5f6fb;
}

.textBtn {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.textBtn:hover,
.textBtn:focus {
  color: #ff751d;
}
.active {
  color: #ff751d;
}
