.calendarContainer {
  display: flex;
  align-items: center;
  width: 104px;
  border: transparent;
}
.calendar {
  border: none;
  width: 74px;
  height: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #52555f;
  background: transparent;
}

.calendarSVG {
  margin-right: 10px;
}
