.header {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  position: relative;
  width: 190px;
  height: 31px;
  padding-top: 7px;
  padding-left: 20px;
}

.logoImg::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 33px;
  height: 26px;
  background: rgba(251, 124, 47, 0.2);
  border-radius: 8px;
}
.logoImg::after {
  content: '';
  position: absolute;
  left: 6px;
  bottom: 0px;
  width: 33px;
  height: 26px;
  background: #fb7c2f;
  border-radius: 8px;
}
.logoText {
  position: relative;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.045em;
  color: #000000;
}
.logoText::before {
  content: '';
  position: absolute;
  top: 5px;
  right: 22px;
  width: 2px;
  height: 3px;
  background: black;
}
.logoText::after {
  content: '';
  position: absolute;
  bottom: 2px;
  right: 22px;
  width: 2px;
  height: 3px;
  background: black;
  text-align: end;
}
.logoLink {
  text-decoration: none;
}
.logoInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  color: #52555f;
}
.userAvatar {
  width: 25px;
  height: 25x;
}
.bgr {
  display: flex;
  background-color: #f5f6fa;
  border: 1px solid #f5f6fa;
  width: 32px;
  height: 32px;
  padding: 0px 0px 3px -3px;
  border-radius: 50%;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.logout {
  display: none;
}
.fonVertikal {
  display: none;
}
.exit {
  display: none;
}

.logoPage {
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 62px;
  letter-spacing: 0.045em;
}
.logoPage::before {
  display: block;
  content: '';
  width: 1.5px;
  height: 3px;
  background-color: black;
  margin-left: 0px;
  margin-bottom: 0px;
}
.logoPage::after {
  display: block;
  content: '';
  width: 1.5px;
  height: 3px;
  background-color: #0e0f0f;
  margin-left: 0px;
  margin-top: 0px;
  border-radius: 0px;
}
.exitMobile {
  width: 16px;
  height: 16px;
  cursor: pointer;
  fill: #cbccd0;
}

@media screen and (min-width: 768px) {
  .fonVertikal {
    width: 2px;
    height: 36px;
    background: #f5f6fa;
  }
  .logout {
    width: 64px;
    font-size: 12px;
    line-height: 1.17;
    margin-right: 20px;
    display: inline;
    color: #52555f;
  }
  .exit {
    width: 64px;
    font-size: 12px;
    display: inline;
    padding-left: 20px;
    border: none;
    background-color: transparent;
    color: #52555f;
    font-size: 12px;
    line-height: 1.17;
    border-left: 1px solid #e0e5eb;
    height: 36px;
    margin-right: 15px;
  }

  .exitMobile {
    display: none;
  }

  .logout {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
  }
  .exit {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
  }
}

@media screen and (min-width: 1280px) {
  .userName {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
  }

  .logout {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
  }
  .exit {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
  }
}
