.header {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  /* justify-content: flex-start; */
 
}
.logo {
  position: relative;
  width: 190px;
  height: 31px;
  padding-top: 4px;
  padding-left: 20px;
}
.logoImg {
  }
.logoImg::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 33px;
  height: 26px;
  background: rgba(251, 124, 47, 0.2);
  border-radius: 8px;
}
.logoImg::after {
  content: '';
  position: absolute;
  left: 6px;
  bottom: 0px;
  width: 33px;
  height: 26px;
  background: #fb7c2f;
  border-radius: 8px;
}
.logoText {
  position: relative;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.045em;
}
.logoText::before {
  content: '';
  position: absolute;
  top: 5px;
  right: 22px;
  width: 2px;
  height: 3px;
  background: black;
}
.logoText::after {
  content: '';
  position: absolute;
  bottom: 2px;
  right: 22px;
  width: 2px;
  height: 3px;
  background: black;
  text-align: end;
}

.logoInfo{
  display: flex;
  justify-content: center;
 align-items: center;
}

 .userName{
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: Roboto;
 font-style: normal;
 font-weight: 700;
}

.bgr{
  display: flex;
background-color:#F5F6FA;
border: 1px solid #F5F6FA;
width:32px;
height: 32px;
padding: 0px 0px 3px -3px;
border-radius: 50%;
margin-right: 10px;
justify-content: center;
align-items: center;
}

.logout{
  display: none;
 }
 .fonVertikal {
 display: none;
 }
 .exit{
  display: none;
  }
 

.logoPage {
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 62px;
  letter-spacing: 0.045em;
}
.logoPage::before {
  display: block;
  content: '';
  width: 1.5px;
  height: 3px;
  background-color: black;
  margin-left: 0px;
  margin-bottom: 0px;
}
.logoPage::after {
  display: block;
  content: '';
  width: 1.5px;
  height: 3px;
  background-color: #0e0f0f;
  margin-left: 0px;
  margin-top: 0px;
  border-radius: 0px;
}
.exitMobile {
  width: 16px;
  height: 16px;
  cursor: pointer;
  fill: #CBCCD0;
}

@media screen and (min-width: 768px) {
  .fonVertikal {
    width: 2px; 
    height: 36px;
    background: #F5F6FA;
    }
    .logout{
      width: 64px;
      font-size: 12px;
     margin-right: 20px;
     display: inline;
    }
    .exit{
      width: 64px;
      font-size: 12px;
      display: inline;
      margin-left: 20px;
    }
    .exitMobile {
      display: none;
    }
    .userName{
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
     }
     .logout{
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
     }
     .exit{
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      }
      .header {
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        /* justify-content: flex-start; */
       
      }

}

@media screen and (min-width: 1280px) {
  .userName{
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
   }
   .logout{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
   }
   .exit{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    }

}

