.incomeEnterWrapper {
  /* display: flex; */
  width: 280px;
  /* margin: 0 auto; */
}

.inputsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 83px;
}

.iconLeftWrapper {
  padding-top: 15px;
  margin-bottom: 15px;
}

.iconLeftButton {
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  background: none;
}

.iconLeft {
  fill: #ff751d;
}

.input {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  height: 44px;
  padding: 0;
}

.input::placeholder {
  color: #c7ccdc;
}

.inputProduct {
  min-width: 282px;
  padding-left: 20px;
  border: none;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 16px 16px 0px 0px;
}

.selectWrapper {
  min-width: 282px;
  border: 2px solid #ffffff;
  border-radius: 0px 0px 16px 0px;
  border-top: 0px;
  margin-bottom: 30px;
  padding-left: 13px;
  /* border: 1px solid #f5f6fb;
  border-radius: 3px; */
}

.selectWrapper select {
  color: #c7ccdc;
  padding: 0 5px 0 7px;
  background: transparent;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.selectWrapper select::-ms-expand {
  display: none;
}

.selectArrow {
  z-index: 9999;
  border: 8px solid transparent;
  border-bottom: 0;
  right: 6px;
}
.selectArrow:nth-child(1) {
  top: 11px;
  border-top-color: #c7ccdc;
}
.selectArrow:nth-child(2) {
  top: 8px;
  border-top-color: #c7ccdc;
}

.inputSum {
  width: 14%;
  /* border: none; */
  text-align: center;
  width: 125px;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 22px 0px 0px 22px;
}

.iconWrapper {
  width: 60px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  border-right: 0;
  box-sizing: border-box;
  border-radius: 22px 0px 0px 22px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.button {
  width: 125px;
  height: 44px;
  border-radius: 16px;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #52555f;
  background: #f5f6fb;
  box-shadow: 1px 2px 5px rgba(170, 178, 197, 0.4);
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.button:last-child {
  margin-right: 0px;
}

.button:hover,
.button:focus {
  background: #ff751d;
  color: #ffffff;
}

form button:active {
  background: #ff751d;
  color: #ffffff;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .incomeEnterWrapper {
    display: flex;
    width: 604px;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 50px;
  }

  .inputsWrapper {
    display: flex;
    width: 467px;
    height: 44px;
    border: 2px solid #f5f6fb;
    border-radius: 16px 16px 16px 0px;
    margin-bottom: 30px;
    align-items: center;
    padding-right: 12px;
  }

  .input {
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02em;
    color: #52555f;
    padding: 0;
    /* background: none !important; */
  }

  .input::placeholder {
    color: #c7ccdc;
  }

  .date {
    width: 104px;
    height: 44px;
    font-weight: 900;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    justify-content: left;
    align-items: center;
  }

  .dateNumbers {
    margin-left: 10px;
  }

  .inputProduct {
    width: 45%;
    border: none;
    margin-left: 20px;
  }

  .selectWrapper {
    width: 40%;
    box-sizing: border-box;
    border: 1px solid #f5f6fb;
    border-radius: 3px;
  }

  .selectWrapper select {
    color: #c7ccdc;
    padding: 0 5px 0 7px;
    background: transparent;
    border: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .selectWrapper select::-ms-expand {
    display: none;
  }

  .selectArrow {
    z-index: 9999;
    border: 8px solid transparent;
    border-bottom: 0;
    right: 6px;
  }
  .selectArrow:nth-child(1) {
    top: 11px;
    border-top-color: #c7ccdc;
  }
  .selectArrow:nth-child(2) {
    top: 8px;
    border-top-color: #c7ccdc;
  }

  .inputSum {
    width: 14%;
    border: none;
    text-align: center;
    padding-left: 10px;
  }

  .button {
    width: 125px;
    height: 44px;
    border-radius: 16px;
    border: 2px solid #f6f7fc;
    box-sizing: border-box;
    margin-left: 15px;
    font-weight: bold;
    text-transform: uppercase;
    background: none;
  }

  .button:hover,
  .button:focus {
    background: #ff751d;
    color: #ffffff;
  }

  form button:active {
    background: #ff751d;
    color: #ffffff;
  }

  .buttonWrapper {
    display: flex;
    padding-left: 9%;
  }
}

@media screen and (min-width: 1280px) {
  .incomeEnterWrapper {
    width: 100%;
    justify-content: space-between;
    padding-top: 33px;
    margin-bottom: 60px;
  }

  .inputsWrapper {
    width: 601px;
    height: 44px;
    margin-bottom: 30px;
    align-items: center;
    padding-right: 12px;
  }
  .form {
    display: flex;
  }

  .buttonWrapper {
    display: flex;
    padding-left: 15px;
  }
}
