@media screen and (min-width: 768px) {
  .incomeEnterWrapper {
    display: flex;
    width: 604px;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 50px;
  }

  .inputsWrapper {
    display: flex;
    width: 467px;
    height: 44px;
    border: 2px solid #f5f6fb;
    border-radius: 16px 16px 16px 0px;
    margin-bottom: 30px;
    align-items: center;
    padding-right: 12px;
  }

  .input {
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02em;
    color: #52555f;
    padding: 0;
    /* background: none !important; */
  }

  .input::placeholder {
    color: #c7ccdc;
  }

  .date {
    width: 104px;
    height: 44px;
    font-weight: 900;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    justify-content: left;
    align-items: center;
  }

  .dateNumbers {
    margin-left: 10px;
  }

  .inputProduct {
    width: 45%;
    border: none;
    margin-left: 20px;
  }

  .select {
    width: 40%;
    border: 2px solid #f5f6fb;
    box-sizing: border-box;
    border-bottom: none;
    border-top: none;
    border-radius: 0px;
    color: #c7ccdc;
    padding-left: 17px;
  }

  .inputSum {
    width: 14%;
    border: none;
    text-align: center;
    padding-left: 10px;
  }

  .button {
    width: 125px;
    height: 44px;
    border-radius: 16px;
    border: 2px solid #f6f7fc;
    box-sizing: border-box;
    margin-left: 15px;
    font-weight: bold;
    text-transform: uppercase;
    background: none;
  }

  form button:active {
    background: #ff751d;
    color: #ffffff;
  }

  .buttonWrapper {
    display: flex;
    padding-left: 9%;
  }
}

@media screen and (min-width: 1280px) {
  .incomeEnterWrapper {
    width: 100%;
    justify-content: space-between;
    padding-top: 33px;
    margin-bottom: 60px;
  }

  .inputsWrapper {
    width: 601px;
    height: 44px;
    margin-bottom: 30px;
    align-items: center;
    padding-right: 12px;
  }
  .form {
    display: flex;
  }

  .buttonWrapper {
    display: flex;
    padding-left: 15px;
  }
}
