html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* outline: 1px dotted dodgerblue; */
}
#root {
  margin: 0;
  padding: 0;
}

:root {
  --main-text-color: #000000;
  --second-text-color: #52555f;
}

body {
  margin: 0;
  font-family: 'Roboto';
}

.container {
  width: 320px;
  padding: 0 10px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  outline: none;
}
button.go {
  width: 125px;
  height: 44px;
  background: #ff751d;
  border-radius: 16px;
  border: 1px solid #ff751d;
  box-shadow: 1px 3px 5px rgba(255, 107, 8, 0.35);
}
button.back {
  width: 125px;
  height: 44px;
  border: 0;
  box-sizing: border-box;
  border-radius: 16px;
  background: border-box;
  margin-left: 15px;
  box-shadow: 1px 2px 5px rgba(170, 178, 197, 0.4);
}

/** ------ */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 20px;
    margin: 0 auto;
  }
  button.go {
    width: 125px;
    height: 44px;
    background: #ff751d;
    border-radius: 16px;
    border: 1px solid #ff751d;
    box-shadow: none;
  }
  button.back {
    width: 125px;
    height: 44px;
    border: 2px solid #f5f6fb;
    box-sizing: border-box;
    border-radius: 16px;
    background: border-box;
    margin-left: 15px;
    box-shadow: none;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 26px;
    margin: 0;
  }
}
